@page
@model OrganisationModel
@{
    ViewData["Title"] = "Organisation";
    //ViewData["ActivePage"] = ManageNavPages.Organisation;
}

<h3>@ViewData["Title"]</h3>
@*<partial name="_StatusMessage" for="StatusMessage" />*@
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-floating">
                <input asp-for="OrganisationName" class="form-control" disabled />
                <label asp-for="OrganisationName" class="form-label"></label>
            </div>*@
            <div class="form-floating">
                <input asp-for="OrganisationName" class="form-control" />
                <label asp-for="OrganisationName" class="form-label">Organisation Name</label>
                @*<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>*@
            </div>
            <div class="form-floating">
                <input asp-for="OrganisationMailingAddress" class="form-control" />
                <label asp-for="OrganisationMailingAddress" class="form-label">Organisation Mailing Address</label>
                @*<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>*@
            </div>
            <div class="form-floating">
                <input asp-for="TrainingTeamName" class="form-control" />
                <label asp-for="TrainingTeamName" class="form-label">Training Team Name</label>
                @*<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>*@
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
