@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div>
        <center>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">Your account has no access to this page.</p>
        </center>
    </div>
</header>
