@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<style>
    .bg-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }

    .container-small {
        background-color: #FFFFFF;
        position: relative;
        margin: auto;
        margin-top: 200px;
        width: 350px;
        padding: 20px;
        border-radius: 0.25em;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }
</style>

<body class="bg-container">
</body>

<div class="container-small">
    <div class="mb-3">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="mb-3">
        <p>
            You have logged out.
        </p>
    </div>
    <div>
        <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='./Login';">Sign In</button>
    </div>
</div>

