@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<style>
    .bg-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }

    .container-big {
        background-color: #FFFFFF;
        position: relative;
        margin: auto;
        margin-top: 100px;
        width: 350px;
        min-height: 450px;
        padding: 20px;
        border-radius: 0.25em;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .input-simplified {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;
        width: 100%;
    }

</style>

<body class="bg-container">
</body>

<div class="container-big">
    <div>
        <div class="mb-3">
            <h4>Expert Training Management Portal</h4>
        </div>
        <section>
            <form id="account" method="post">
                <center><h4>Registration</h4></center>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="input-simplified" autocomplete="username" aria-required="true" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmEmail" class="input-simplified" autocomplete="username" aria-required="true" placeholder="Re-enter Email" />
                    <span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="input-simplified" autocomplete="current-password" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="input-simplified" autocomplete="current-password" aria-required="true" placeholder="Re-enter Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mt-1">
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </div>
                <div>
                    <p class="mb-0 mt-3">
                        Registered Before?
                    </p>
                </div>
                <div>
                    <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='./Login';">Sign In</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
