@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<style>
    .bg-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }

    .container-small {
        background-color: #FFFFFF;
        position: relative;
        margin: auto;
        margin-top: 200px;
        width: 350px;
        padding: 20px;
        border-radius: 0.25em;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .input-simplified {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;
        width: 100%;
    }

</style>

<body class="bg-container">
</body>

<div class="container-small">
    <div>
        <div class="mb-3">
            <h4>Reset your password</h4>
        </div>
        <section>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="input-simplified" autocomplete="username" aria-required="true" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="input-simplified" autocomplete="current-password" aria-required="true" placeholder="New Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="input-simplified" autocomplete="current-password" aria-required="true" placeholder="Re-enter New Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mt-1">
                    <button id="submit" type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
                </div>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


