@page "/EditTraining/{Id}"
@model ETMP.Pages.EditTrainingModel
@{
    ViewData["Title"] = "EditTraining";
}

<div class="leftMargin">
    <h1>Training Editor</h1>

    <form id="edit-training" method="post">
        <label for="training-name">Training Name:</label>
        <input type="text" id="training-name" placeholder="Training Name" required value="@Model.Training.TrainingName" asp-for="Training.TrainingName"><br>

        <div class="form-group">
            <label for="price-range">Price Range: <span id="price-display">RM500</span></label>
            <input type="range" id="price-range" min="500" max="10000" value="500" asp-for="Training.TrainingPrice">
        </div>

        <div class="form-group">
            <label for="training-itinerary">Training Itinerary:</label>
            <textarea id="training-itinerary" value="@Model.Training.TrainingItinerary" rows="5" cols="30" required asp-for="Training.TrainingItinerary"></textarea>
        </div>

        <label for="training-venue">Training Venue:</label>
        <input type="text" id="training-venue placeholder="Venue" required value="@Model.Training.TrainingVenue" asp-for="Training.TrainingVenue"><br>

        <label for="training-venue">Training Category:</label>
        <input type="text" id="training-category" placeholder="Category" required value="@Model.Training.TrainingCategory" asp-for="Training.TrainingCategory"><br>

        <div>
            <label form="training-availability">
                Is this training Available?
                <input type="radio" id="traininig-availability" value="true" asp-for="Training.Availability" /> Yes
                <input type="radio" id="traininig-availability" value="false" asp-for="Training.Availability" /> No
            </label>
        </div>

        <input type="submit" value="Edit Training" asp-page-handler="EditTraining">
    </form>
</div>