@page
@model ETMP.Pages.EditTrainingModel
@{
    ViewData["Title"] = "EditTraining";
}

<style>
    header{
        font-weight: bold;
    }

    .leftMargin{
        margin-left: 50px;
    }
</style>

<div class="leftMargin">
    <h1>Training Editor</h1>
    <p>This a test</p>
</div>
