@page
@model ETMP.Pages.EditTrainingModel
@{
    ViewData["Title"] = "EditTraining";
}

<style>
    body{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(https://theengineeringmindset.com/wp-content/uploads/2019/05/Blueprint-background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .leftMargin{
        margin-left: 50px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .form-group textarea {
        width: 100%;
        box-sizing: border-box;
     }


    #training-action, #training-name{
        margin-top: 20px;
    }

    #price-range{
        margin-top:10px;
    }

    input[type="text"], textarea, #training-options {
        border-radius: 10px; /* set the border radius to 10px */
        padding: 5px; /* add some padding for visual appeal */
        border: 1px solid #ccc; /* add a border to the element */
    }
</style>

<div class="leftMargin">
    <form id="training-action" method="post">
        <label for="training-options">Select an action:</label>
        <select id="training-options" name="training-options">
            <option value="add-training">Add Training</option>
            <option value="remove-training">Remove Training</option>
            <option value="edit-training">Edit Training</option>
        </select>
    </form>

    <form method="post">
        <label for="training-name">Training Name:</label>
        <input type="text" id="training-name" name="training-name" placeholder="Training Name" required><br>

        <div class="form-group">
            <label for="price-range">Price Range: <span id="price-display">RM500</span></label>
            <input type="range" id="price-range" name="price-range" min="500" max="10000" value="1">
        </div>

        <div class="form-group">
            <label for="training-itinerary">Training Itinerary:</label>
            <textarea id="training-itinerary" name="training-itinerary" placeholder="Enter the training itinerary and details" rows="5" cols="30" required></textarea>
        </div>

        <label for="training-venue">Training Venue:</label>
        <input type="text" id="training-venue" name="training-venue" placeholder="Venue" required><br>

        <input type="submit" value="Add Training">
    </form>

</div>
