@page
@model ETMP.Pages.EditUserProfileModel
@{
    ViewData["Title"] = "EditUserProfile";
}

<h1>Edit User Profile</h1>

<div>
<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label for="sex">Sex</label>
        <input type="text" id="sex" class="form-control" asp-for="Sex" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>

