@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ETMP</h1>
    <p>Signed by Eiton</p>
    <p>Signed by Fung</p>
    <p>Signed by Gabriel</p>
    <p>Signed by Gabriel2</p>
</div>
