@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ETMP</h1>
    <p>Signed by Eiton</p>
    <p>Testing12234325432343245152345142345123</p>
    <p>Another signature</p>
    <p>Signed by Eiton Ng Zie Teng</p>
    <p>Signed by Fung</p>
</div>
