@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ETMP</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>You're logged in</p>

        @if (User.IsInRole("Admin"))
        {
            <p>You're ETMP admin</p>
        }
        else if (User.IsInRole("Member"))
        {
            <p>You're ETMP member</p>
        }
    }



    <p>Another signature</p>
    <p>Signed by Eiton Ng Zie Teng Commit 2</p>
    <p>Signed by Eiton</p>
    <p>Conflict test</p>
    <p>Signed by Gabriel</p>
</div>
<div>
    <p style="font-size:20px;">Temporary link to Edit Training Page</p>
    <button onclick="location.href='ManageTraining';">Edit - Admin</button>
    <button onclick="location.href='UserEditTraining';">Edit - User</button>
    <a asp-page="./ConfirmPayment" asp-route-id="1">Purchase Training 1</a>
    <a asp-page="./ConfirmPayment" asp-route-id="2">Purchase Training 2</a>
    <a asp-page="./ConfirmPayment" asp-route-id="3">Purchase Training 3</a>
    <a asp-page="./ConfirmPayment" asp-route-id="4">Purchase Training 4</a>
    <a asp-page="./ConfirmPayment" asp-route-id="5">Purchase Training 5</a>
</div>

<div>
    <button onclick="location.href='paymentForm';">Payment Form</button>
</div>