@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ETMP</h1>
    <p>Another signature</p>
    <p>Signed by Eiton Ng Zie Teng Commit 2</p>
    <p>Signed by Eiton</p>
    <p>Conflict test</p>
    <p>Signed by Gabriel</p>
</div>
<div>
    <p style="font-size:20px;">Temporary link to Edit Training Page</p>
    <button onclick="location.href='ManageTraining';">Edit - Admin</button>
    <button onclick="location.href='UserEditTraining';">Edit - User</button>
</div>

<div>
    <button onclick="location.href='paymentForm';">Payment Form</button>
</div>