@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
	Layout = "~/Pages/Shared/_IndexLayout.cshtml";
}

<style>
	.bg-container {
		width: 100%;
		overflow: hidden;
		padding: 150px;
		background-color: #4158D0;
		background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
	}

	.title-text{
		position: relative;
		margin: auto;
		color: white;
	}

	.showcase-pictures{
		height:300px;
	}

	.showcase-text{
		display: inline-block;
		vertical-align:center;
		margin:100px;
		width:1000px;
	}
</style>

<!DOCTYPE html>
<html>
	<head>
		<title>Expert Training Provider</title>
		
	</head>
	<div class="mt-5 mb-5 bg-container">
		<center class="title-text"><h1>Welcome to Expert Training Provider</h1></center>
	</div>
	<main>
		<section>
			<p class="showcase-text">Expert Training Provider specializes in providing hands-on training solutions for companies and employees in Sarawak. Our training courses are tailored to meet your business needs and address common day-to-day challenges faced by organizations. Our experienced trainers will work with you to understand your specific requirements and develop a training program that meets your goals and objectives.</p>
			<img class="showcase-pictures" src="images/ETMP_LOGO.png" alt="Expert Training Provider Logo">
		</section>
		<section>
			<img class="showcase-pictures" src="images/ETMP_LOGO.png" alt="Expert Training Provider Logo">
			<p class="showcase-text">Expert Training Provider specializes in providing hands-on training solutions for companies and employees in Sarawak. Our training courses are tailored to meet your business needs and address common day-to-day challenges faced by organizations. Our experienced trainers will work with you to understand your specific requirements and develop a training program that meets your goals and objectives.</p>
		</section>
		<section>
			<p class="showcase-text">Expert Training Provider specializes in providing hands-on training solutions for companies and employees in Sarawak. Our training courses are tailored to meet your business needs and address common day-to-day challenges faced by organizations. Our experienced trainers will work with you to understand your specific requirements and develop a training program that meets your goals and objectives.</p>
			<img class="showcase-pictures" src="images/ETMP_LOGO.png" alt="Expert Training Provider Logo">
		</section>
	</main>
</html>