@page
@model ETMP.Pages.Shared.JS_testingModel
@{
    ViewData["Title"] = "javascript testing";
}



<script src="/js/JavaScript.js" asp-append-version="true"></script>
<div>
    <button id="testJavaBtn1">Test Java Now!</button>
</div>