@page
@model ETMP.Pages.SupportTicketModel
@{
    ViewData["Title"] = "SupportTicket";
}

<h1>Support Ticket Form</h1>

<form>
    <div>
        <label class="mb-3">Name: </label>
        <input placeholder="Leave your name here" id="input-name" class="form-control" type="text"/>
    </div>
    <div>
        <label class="mb-3">Email: </label>
        <input placeholder="Input your email so we can contact you" id="input-email" class="form-control" type="text" />
    </div>
    <div>
        <label class="mb-3">About: </label>
        <input placeholder="Tell us what problem you are having" id="input-about" class="form-control" type="text" />
    </div>
    <div>
        <label class="mb-3">Description: </label>
        <textarea id="input-description" placeholder="Leave a description of your issue" rows="8" class="form-control" type="text"></textarea>
    </div>
    <div class="mt-2">
        <input class="btn btn-primary" type="submit" value="Submit" />
        <input class="btn btn-danger ml-3" onclick="ClearForm()" type="submit" value="Clear Form" />
    </div>
</form>

<script>
    function ClearForm(){
        var nameInput = document.getElementById("input-name");
        var emailInput = document.getElementById("input-email");
        var aboutInput = document.getElementById("input-about");
        var descriptionInput = document.getElementById("input-description");

        nameInput.value = "";
        emailInput.value = "";
        aboutInput.value = "";
        descriptionInput.value = "";
    }
</script>