@page
@model ETMP.Pages.Shared.testimonialModel
@{
    ViewData["Title"] = "Testimonial";
}

<style>
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}
a:link,
a:active,
a:visited,
a:hover {
  color: #3f51b5;
}

.outerdiv {
  width: 100%;
  min-height: 100vh;
  background: #edf2f8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerdiv {
  transform: scale(0.9);
  margin: 1rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-rows: repeat(2, 22rem);
  grid-template-columns: repeat(4, 17rem);
}
.eachdiv {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 20px #6d6b6b6b;
  color: white;
}
.div1 {
  background: #733fc8;
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 25rem;
}
.div2 {
  background: #49556b;
  grid-column: 3/4;
  grid-row: 1/2;
}
.div3 {
  background: white;
  grid-column: 4/5;
  grid-row: 1/3;
  color: black;
}
.div4 {
  background: white;
  grid-column: 1/2;
  grid-row: 2/3;
  color: black;
}
.div5 {
  background: #18202d;
  grid-column: 2/4;
  grid-row: 2/3;
}
.userdetails {
  display: flex;
}
.imgbox {
  margin-right: 1rem;
}
.imgbox img {
  border-radius: 50%;
  width: 2rem;
  border: 2px solid #cec5c5;
}
.detbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detbox p {
  margin: 0;
}
.detbox .name {
  color: hsl(0, 0%, 81%);
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.detbox .name.dark {
  color: #49505a;
}
.detbox .designation {
  color: hsl(0, 0%, 81%);
  opacity: 50%;
  font-size: 0.8rem;
}
.detbox .designation.dark {
  color: #49505a;
}
.review h4 {
  font-size: 1.4rem;
  color: #f3deff;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}
.review.dark h4 {
  color: #4b5258;
}
.review p {
  font-size: 0.95rem;
  color: #f3deff;
  font-weight: 500;
  opacity: 50%;
  line-height: 1.5;
}
.review.dark p {
  color: #0e0e0e;
}

  .innerdiv {
    display: flex;
    flex-direction: column;
    transform: scale(1);
    margin: 2rem;
    margin-bottom: 5rem;
  }
}

    html, body {
        overflow: hidden;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    .header {
        padding: 60px;
        margin:0;
        text-align: center;
        color: white;
        height:200px;
        font-size: 30px;
    }

    
</style>

<body>
    <div class="header">
        <h1>Testimonial</h1>
    </div>
 


        <div class="outerdiv">
            <div class="innerdiv">
                <!-- div1 -->
                <div class="div1 eachdiv">
                    <div class="userdetails">
                        <div class="imgbox">
                            <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-daniel.jpg" alt="">
                        </div>
                        <div class="detbox">
                            <p class="name">Daniel Clifford</p>
                            <p class="designation">Verified Graduate</p>
                        </div>
                    </div>
                    <div class="review">
                    <h4>I recently attended the training program, and I must say it exceeded my expectations. </h4>
                    <p>"I recently attended the training program, and I must say it exceeded my expectations. 
                        The trainers were extremely knowledgeable and delivered the content in a clear and concise manner.
                        The hands-on exercises allowed us to apply the concepts in real-world scenarios, solidifying our understanding. 
                        The training materials provided were comprehensive and served as valuable resources even after the program. 
                        Overall, this training has equipped me with the skills and confidence to tackle complex tasks in my job. 
                        I highly recommend this training to anyone looking to enhance their expertise in the field."</p>
                </div>
                </div>
                <!-- div2 -->
                <div class="div2 eachdiv">
                    <div class="userdetails">
                        <div class="imgbox">
                            <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jonathan.jpg" alt="">
                        </div>
                        <div class="detbox">
                            <p class="name">Jonathan Walters</p>
                            <p class="designation">Verified Graduate</p>
                        </div>
                    </div>
                    <div class="review">
                    <h4>The training was a transformative experience for me.</h4>
                    <p>" The trainers were passionate about the subject matter and 
                        created a dynamic learning environment. The practical exercises challenged me to think critically and find innovative solutions. 
                        The comprehensive training materials will serve as a valuable reference in my future endeavors. I feel more confident in applying 
                        the concepts learned and have already started seeing improvements in my work. This training has truly expanded my skill set and 
                        opened new opportunities. I wholeheartedly endorse this training to professionals seeking to upskill."</p>
                    </div>
                </div>
                <!-- div3 -->
                <div class="div3 eachdiv">
                    <div class="userdetails">
                        <div class="imgbox">
                            <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-kira.jpg" alt="">
                        </div>
                        <div class="detbox">
                            <p class="name dark">Kira Whittle</p>
                            <p class="designation dark">Verified Graduate</p>
                        </div>
                    </div>
                    <div class="review dark">
                    <h4>I am grateful for the training program that I attended.</h4>
                    <p>" The trainers were exceptional, providing in-depth knowledge and real-world examples. 
                        The interactive sessions and group activities fostered collaboration and enriched the learning experience. The training materials were 
                        well-organized and served as a comprehensive guide. I feel more equipped to tackle challenges in my field, thanks to the practical skills
                        gained during the training. I highly recommend this program to anyone looking to stay ahead in their industry and enhance their professional
                        growth."</p>
                    </div>
                </div>
                <!-- div4 -->
                <div class="div5 eachdiv">
                    <div class="userdetails">
                        <div class="imgbox">
                            <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-patrick.jpg" alt="">
                        </div>
                        <div class="detbox">
                            <p class="name">Patrick Abrams</p>
                            <p class="designation">Verified Graduate</p>
                        </div>
                    </div>
                    <div class="review">
                    <h4>The training program was a game-changer for me.</h4>
                    <p>" The trainers had a deep understanding of the subject matter and presented 
                        it in an engaging and interactive way. The hands-on exercises allowed me to apply the concepts immediately, enhancing my 
                        learning experience. The trainers were approachable and readily answered our questions, ensuring we had a solid grasp of 
                        the material. I appreciate the attention to detail and the seamless organization of the training. I left the program feeling 
                        inspired and motivated to implement the newfound knowledge in my work. I highly endorse this training to anyone seeking
                        professional development."</p>
                    </div>
                </div>
            </div>
        </div>
      </body>
