@page
@model ETMP.Pages.TrainingPurchasedModel
@{
    ViewData["Title"] = "TrainingPurchased";
}

<div class="text-center">
    <h1>Purchase Successful</h1>
    <h2>Thank you for purchasing @Model.PurchasedTraining.TrainingName</h2>
    <h3>Find all your training <strong><a href="UserListOfTraining">here</a></strong> </h3>
</div>

<div>
    <a class="mt-5 btn btn-primary" asp-page="Index">Home</a>
</div>