@page
@model ETMP.Pages.TrainingModel
@{
    ViewData["Title"] = "Training";
}
<link rel="stylesheet" type="text/css" href="style.css">

<div>
    <button id="filterButton">Filter</button>
    <input type="text" id="searchBar" placeholder="Search...">
    <button id="sortButton">Sort</button>
</div>


