@page
@model ETMP.Pages.TrainingModel
@{
    ViewData["Title"] = "Training";
}
<head>
    <link rel="stylesheet" href=/Pages/Shared/stylesheet.css">
</head>
<h1>@ViewData["Title"]</h1>
<form action="#" method="get">
    <input type="text" name="search" placeholder="Search...">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

