@page
@model ETMP.Pages.EditTrainingModel
@{
    ViewData["Title"] = "UserEditTraining";
}

<style>
    header{
        font-weight: bold;
    }

    .leftMargin{
        margin-left: 50px;
    }
</style>

<div class="leftMargin">
    <h1>Edit Your Purchased Training Here</h1>
    <p>List of Training:</p>
</div>
