@page
@model ETMP.Pages.UserEditTrainingModel

@{
    ViewData["Title"] = "UserEditTraining";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<h1>Edit Purchased Training : @Model.EditTraining.TrainingName</h1>


<style>
    input[type="file"] {
        display: none;
    }
</style>



<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-floating">
                <input asp-for="EditTraining.TrainingVenue" class="form-control" />
                <label asp-for="EditTraining.TrainingVenue" class="form-label"> </label>
            </div>
            <div class="form-floating">
                <input type="datetime-local" id="StartFrom" asp-for="EditTraining.TrainingStartDateTime" value="@Model.ReleaseDate" class="form-control" />
                <label asp-for="EditTraining.TrainingStartDateTime" class="form-label"> </label>
            </div>
            <div class="form-floating">
                <input type="datetime-local" id="EndOn" asp-for="EditTraining.TrainingEndDateTime" value="@Model.ReleaseDate" class="form-control" />
                <label asp-for="EditTraining.TrainingEndDateTime" class="form-label"> </label>
            </div>

            <div class="form-group">
                <div id="edit-button" style="display:block;">
                    <input type="button" class="btn btn-primary" onclick="onButtonClick()" value="Save">
                    <input type="button" class="btn btn-danger" @*id="download-btn"*@ id="Button1_Click" input type="submit" value="Download Itinerary">
                    <input type="button" class="btn btn-danger" value="Download Training Material">
                
                    <a class="btn btn-danger" href="/EditTraining.TrainingMaterialFilePath" download>Download File</a>

                
                </div>
                <div id="confirmation-button" style="display:none;">
                    <p>
                        Are you sure?
                        <input type="submit" id="submitButton" value="Yes" class="btn btn-primary" />
                        <input type="submit" value="No" class="btn btn-danger" asp-page-handler="CancelButton">
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<script>
    const startFromInput = document.getElementById('StartFrom');
    const endOnInput = document.getElementById('EndOn');

    startFromInput.addEventListener('change', checkDateRange);
    endOnInput.addEventListener('change', checkDateRange);

    function checkDateRange() {
        const startFromValue = new Date(startFromInput.value);
        const endOnValue = new Date(endOnInput.value);

        if (startFromValue > endOnValue) {
            submitButton.disabled = true;
            alert('End date must be greater than start date.');
        } else {
            submitButton.disabled = false;
        }
    }

    function onButtonClick() {
        var addButton = document.getElementById("edit-button");
        var confirmationButton = document.getElementById("confirmation-button");

        addButton.style.display = "none";
        confirmationButton.style.display = "block";
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////



    

</script>




    




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



